@font-face {
    font-family:Brainer;
    src: url(../../assets/CallistaItalic.ttf);
  }

.navbar-wrapper{
    display: flex;
    justify-content: space-around;
}

.navbar-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navbar-container{
    padding: 50px 5px;
}

.navbar-links > p{
    font-weight: 300;
    -webkit-transition: 0.1s;
}


.nav-signature > p{
    font-family: Brainer;
    font-size: 25px;
}

.a:hover{
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
    padding-left: 10px ;
    -webkit-transition: 0.3s ease;
}
.b:hover{
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
    padding: 0 10px ;
    -webkit-transition: 0.3s ease;
}
.c:hover{
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
    padding-right: 10px ;
    -webkit-transition: 0.3s ease;
}