@font-face {
    font-family:Brainer;
    src: url(../../assets/CallistaItalic.ttf);
  }

.navbar-container{
    padding: 30px 40px;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-around;
}

.navbar-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-signature{
    display: none;
}

.nav-link{
    font-weight: 400;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all;
}

.nav-link:hover{
    color: #d61fffad;
    text-shadow: 1px 2px 20px #fff;
    font-weight: 500;
    transition: all;
}

@media only screen and (min-width: 700px){
    .nav-signature{
        display:block;
    }
    .nav-signature > p{
        font-family: Brainer;
        font-size: 20px;
    }
    .nav-link{
        font-weight: 200;
        font-size: 17px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .navbar-container{
        padding: 40px 20px;
    }

}

@media only screen and (min-width: 1000px){
    .navbar-links{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .nav-link{
        font-size: 18px;
    }
}