@font-face {
    font-family: aboutme-hero;
    src: url(../../assets/MODERNA_.TTF);
}


.aboutme-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
    /* position: relative; */
    /* z-index: 1; */
}

.aboutme-container{
    padding: 10px;
    background-color: rgba(52, 0, 115, 0.681);
    color: #fff;
    margin-top: 80px;
    border-radius:30px 30px 0 0;
    padding-bottom: 50px;
    /* z-index: 99; */
}

.aboutme-title{
    padding: 40px 0;
    font-family: aboutme-hero;
    font-size: 35px;
}


.bio{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 400px;
}

.profile-photo{
    min-width:80px;
    max-height: 80px;
    object-fit: cover;
    border-radius: 100%;
    flex: 2;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.602);
}

.bio-des{
    flex: 4;
    font-size: 14px;
    text-align: center;
}

.past-epx{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* gap: 10px; */
}

.position{
    font-weight: 600;
    font-size: 18px;
}

.about-intern{
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}

.intern-des{
    max-width: 400px;
    font-size: 14px;
}
.intern-img{
    max-width: 60px;
    max-height: 60px;
}

.more-about{
    font-size: 18px;
    font-weight: 600;
}

.resume-btn{
    border: solid 1px #fff;
    padding: 5px 30px;
    border-radius: 3px;
    font-size: 15px;
    max-width: 150px;
    font-weight: 600;
    margin-top: -10px;
}

.resume-btn:hover{
    background-color: #fff;
    color: rgba(52, 0, 115, 0.681);
    box-shadow: 1px 2px 10px -2px #fff;
    transition: 1s;
}
@media only screen and (min-width: 1000px){
    .bio{
        margin-top: -20px;
        display: flex;
        flex-direction: row;
        align-items:center;
        gap: 20px;
        max-width: 800px;
    }
    .profile-photo{
        max-width:100px;
        max-height: 100px;
    }
    
    .bio-des{
        flex: 4;
        font-size: 17px;
        text-align:left;
    }

    .intern-des{
        max-width: 600px;
        font-size: 16px;
    }
    .past-epx{
        margin-bottom: 20px;
    }
    .aboutme-title{
        font-size: 70px;
    }
    .aboutme-container{
        border-radius:60px 60px 0 0;
    }

}