@font-face {
    font-family: hero;
    src: url(../../assets/CocogooseProtrial.ttf);
}
@font-face {
    font-family: hero-ii;
    src: url(../../assets/ARCADECLASSIC.TTF);
}
@font-face {
    font-family: hero-iii;
    src: url(../../assets/digital-7.ttf);
}

@font-face {
    font-family: hero-iv;
    src: url(../../assets/DolceVitaLight.ttf);
}

.hero-wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-element-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 105px;
    position: relative;
}

.hero-container{
    display: flex;
    flex-direction: column;
    height: 80vh;
}
.role{
    font-weight: 600;
    font-size: clamp(30px 8vw 90px);
    font-family: hero;
}


.role-1{
    font-size: clamp(25px,6vw,70px);
    font-family: hero;
    padding: 10px 0;
    -webkit-transition: 0.5s ease;
    white-space: nowrap;
    position: absolute;
    /* text-shadow: 1px 2px 10px rgb(255, 255, 255); */
}
.role-2{
    font-size: clamp(30px,8vw,90px);
    font-family: hero-ii;
    -webkit-transition: 0.5s ease;
    white-space: nowrap;
    position: absolute;
    /* padding: 5px 0; */
    /* text-shadow: 1px 2px 10px rgb(255, 255, 255); */
}
.role-4{
    font-size: clamp(30px,8vw,100px);
    font-family: hero-iii;
    -webkit-transition: 0.5s ease;
    white-space: nowrap;
    position: absolute;
    /* text-shadow: 1px 2px 10px rgb(255, 255, 255); */
}
.role-3{
    font-size: clamp(25px,10vw,80px);
    font-family: hero-iv;
    -webkit-transition: 0.5s ease;
    white-space: nowrap;
    position: absolute;
    /* text-shadow: 1px 2px 10px rgb(255, 255, 255); */
}

.name{
    font-weight: 600;
    font-size: 20px;
    /* margin-bottom: -10px; */
}

em{
    text-decoration: underline;
}

.hero-des{
    margin-top: -20px;
    font-size: clamp(10px,2vw,15px);
    font-weight: 300;
}

.hero-links{
    display: flex;
    gap: 50px;
}

.link-ele{
    font-size: 30px !important;
}

.link-ele:hover{
    cursor: pointer;
    scale: 1.3;
}

.git:hover{
    color: rgb(1, 1, 1);
}
.twt:hover{
    color: rgb(0, 132, 255);
}
.linkedin:hover{
    color: rgba(24, 78, 255, 0.891);
}

.hero-logo{
    width: 100px;
    margin-bottom: -30px;
}

.resume-redirect{
    margin-top: 30px;
    padding: 10px 15px;
    border: solid 1px rgba(76, 0, 255, 0.399);
    border-radius: 2px;
    box-shadow: 1px 2px 10px -2px rgba(76, 0, 255, 0.244);
    letter-spacing: 1px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 10px;
}
.resume-redirect:hover{
    cursor: pointer;
    background-color: rgba(83, 0, 172, 0.82);
    color: #ffffff;
}