@font-face {
    font-family: connect-hero;
    src: url(../../assets/MODERNA_.TTF);
}
.connect-wrapper{
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
}

.connect-ele-i{
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect-hero{
    max-width: 150px;
}

.connect-container{
    margin-top: 100px;
    /* background: linear-gradient(360deg, rgba(52, 0, 115, 0.681), white); */
}
.connect-title{
    font-family: connect-hero;
    font-size: 35px;
}

.connect-des{
    min-width: 300px;
    font-size: 14px;
    text-align: center;
}

.connect-email{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    gap: 10px;
}
.email-text{
    font-size: 13px;
}

.email-text > span{
    font-weight: 600;
}

.connect-line{
    font-size: 12px;
    color: grey;
}

.email-btn{
    border: solid 1px rgb(132, 0, 255);
    padding: 10px 30px;
    border-radius: 5px;
    width: 100%;
    transition: 1s;
    font-weight: 600;
    text-align: center;
}
.email-btn:hover{
    background-color: rgb(132, 0, 255);
    color: #fff;
    box-shadow: 1px 2px 10px -2px rgb(132, 0, 255);
    transition:0.5s;
}

.email-text > span:hover{
    text-decoration: underline;
    color: grey;
    cursor:alias;
}

@media only screen and (min-width:1000px){
    .connect-hero{
    max-width: 200px;
}
    .connect-title{
    font-family: connect-hero;
    font-size: 75px;
}
    .connect-des{
    min-width: 800px;
    font-size: 18px;
    text-align: center;
    margin-top: -20px;
}
    .email-text{
    font-size: 18px;
}
    .email-btn{
    border: solid 1px rgb(132, 0, 255);
    padding: 10px 30px;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
}
.email-text{
    /* font-size: 13px; */
    width: 100%;
    text-align: center;
}
}