@font-face {
  font-family:Brainer;
  src: url(./assets/CallistaItalic.ttf);
  
}

.app{
  background-image: url(https://products.ls.graphics/mesh-gradients/images/72.-Sazerac.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100vw;
  height: 100vh; */
}

*{
  font-family: 'Inter', sans-serif;
  margin: 0;
}

