@font-face {
  font-family:Brainer;
  src: url(./assets/CallistaItalic.ttf);
  
}

.app{
  background-image: url(/portbg.jpeg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 100vw;
  /* height: 114vh; */
  overflow: hidden;
}

*{
  font-family: 'Inter', sans-serif;
  margin: 0;
}

